<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6642662c1e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel= "stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/"> <img src="/images/logo-mercado-liebre.svg"  alt='Logo ML'></a>
            </div>
            <div class="compra-cuotas">
                <h2 id="manito-cuota"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h2>      
            </div>
            <div class ="menu-buscar">
                <form action="/" method="POST">
                    <input type="search" name= "búsqueda" size="25" placeholder="Buscar productos, marcas">
                    <button><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
            </div>
        <nav class= "main-navbar">
            <ul class= "left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <a href= "#" class="burger-menu"> 
            <i class="fas fa-bars"></i>
        </a>  
    </header> 

    <main class="register">
        <form action="/" method="GET">
            <div class="inputs-formulario">
                <input type="text" name="name" placeholder="Nombre y apellido" class="elementos-formulario"required minlength="6">
            </div> 
            <div class="inputs-formulario">
                <input type="text" name="user" placeholder="Nombre de usuario"class="elementos-formulario"required minlength="6">
            </div> 
            <div class="inputs-formulario">
                <input type="email" name="email" placeholder="E-mail"class="elementos-formulario" required>
            </div>
            <div class="inputs-formulario">
                <label for="birth_date"><h4 class="sinmargen">Fecha de nacimiento</h4></label>
                <input type="date" name="birth_date" id="birth_date"class="elementos-formulario"required>
            </div>
            <div class="inputs-formulario">
                <input type="text" name="addres" placeholder="Domicilio"class="elementos-formulario"required>
            </div>
            <div class="profile">
                <label name="profile"><h4>Perfil del usuario</h4></label>
                <input type="radio" name="profile" value="buy" id="buy">
                <label for="buy">Comprador</label>
                <input type="radio" name="profile" value="sell" id="sell">
                <label for="sell">Vendedor</label>
            </div>

            
            
            <div>
                <label name="avatar"><h4>Foto de Perfil</h4></label>
                <input type="file" name="avatar" class="foto-avatar">
            </div>
            <input type="password" name="pass" placeholder="Contraseña" class="elementos-formulario"required>
            <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña"class="elementos-formulario"required>
        <div>
            <input type="submit" value="Enviar" class="submit">
            <input type="reset" value="Borrar" class="botones">
        </div>
        </form>
    </main>
    <footer>
        <section>
            <div>
            <i class="fas fa-credit-card icono-footer"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta
                    o efectivo en puntos de pago. Y siempre es seguro!
                </p>
            </div>
            <div>
            <i class="fas fa-gift icono-footer"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis
                en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div>
            <i class="fas fa-user-shield icono-footer"></i>
            <h3>Seguridad de principio a fin</h3>
            <p> No te gusta? Devolvelo!En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </div>
    </section>
        <div>
            <p class="Copyright">Copyright @ 1999-2020 Mercado Liebre <p>
            
        </div>

    </footer>
</body>
</html>